@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #707070;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    color: #707070;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;/*カーソルをあわせた時の装飾*/
}



.wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color:aqua;
    max-width: 100%;
}

#header .logo {
    max-width: 190px;
    line-height: 0;
}
#header .logo a {
    display: block;
} 

#header .navi {
    display: flex;
    align-items: center;
}

#header .navi li {
    font-size: 14px;
    margin-left: 40px;
}

.mainvisual {
    margin-bottom: 80px;

}









.section-title {
    font-weight: normal;
    margin-bottom: 40px;
}
.section-title .en{
    display: block;
    font-size: 40px;
}
.section-title .ja {
    display: block;
    font-size: 14px;
}


#profile {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
#prpfile .img {
    width: 50%;
}
#profile .detail {
    width: 50%;
    padding-left: 80px;
}
#profile .detail p {
    font-size: 14px;
    line-height: 2;
}





#footer {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
    background-color: aqua;
    max-width: 100%;
    margin: 10px;
}
/*スマートフォン*/




@media screen  and (max-width: 767px){





    

    .section-title {
        margin-bottom: 25px;

        
    }
    .section-title .en {
        font-size: 32px;
    }

    #profile {
        flex-direction:  column-reverse;
        margin-bottom: 60px;
        
    }
    #profile .img {
        width: 100%;
    }
    #profile .detail {
        width: 100%;
        padding-left: 0;
        margin-bottom: 20px;
    }






    .mainvisual {
        margin-bottom: 50px;
    }

    .introduction {
        margin-bottom: 50px;
    }

    .introduction .text {
        text-align: left;
    }















    #heder {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #heder .logo {
        max-width: 120px;
    }



    #works {
        margin-bottom: 60px;
    }
    #works .works-list {
        flex-direction: column;

    }

    #works .works-list li {
        width: 100%;
        margin: 0 0 20px;
    }
}